<form class="example-form">
  <div class="example-container">
    <mat-radio-group>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Questions"></textarea>
      </mat-form-field>
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Option A"></textarea>
      </mat-form-field>
      <mat-radio-button value="2">Option 2</mat-radio-button>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Option B"></textarea>
      </mat-form-field>
      <mat-radio-button value="3">Option 3</mat-radio-button>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Option C"></textarea>
      </mat-form-field>
      <mat-radio-button value="4">Option 4</mat-radio-button>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Option D"></textarea>
      </mat-form-field>
    </mat-radio-group>
  </div>
  <div class="button-row">
    <button mat-raised-button color="accent">Previous</button>
    <button mat-raised-button color="primary">Next</button>
  </div>
</form>