<section id="contact" class="section-padding">



  <div class="contact">
  
    <div class="container">
    
    
    <h1>Support Telusko : </h1> <h3>Your Donation will help this platform grow.</h3>
    Click below to support<br>
   <h3><a href="https://goo.gl/6P2EZb">Be a Patron</a> </h3>
   <h3><a href="https://goo.gl/an6uG9">₹ : India</a> </h3>
   <h3><a href="https://goo.gl/gdpz99">$ : International</a> </h3>
   <div>
   <br>
   <h2>Supports : </h2> 
     Manisha Purba <br>
     Neeraj Sewani <br>
     Nitish Kumar <br>
     </div>
     
     
    
      <div class="w3layouts_mail_grid">
        <div class="col-md-6 w3layouts_mail_grid_left">
        
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <span class="fa fa-envelope" aria-hidden="true"></span>
          </div>
          
          <div class="w3layouts_mail_grid_left2">
            <h3>Mail For Business</h3>
            <a href="mailto:navinreddy20@gmail.com" style="color: #000000">navinreddy20@gmail.com</a>
          </div>
        </div>
        <div class="col-md-6 w3layouts_mail_grid_left">
          <div class="w3layouts_mail_grid_left1 hvr-radial-out">
            <span class="fa fa-envelope" aria-hidden="true"></span>
          </div>
          <div class="w3layouts_mail_grid_left2">
            <h3>Mail For Training</h3>
            <a href="mailto:teluskotraining@gmail.com" style="color: #000000">teluskotraining@gmail.com</a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  <hr>
  <!-- <div class="w3_agile_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15076.451096832076!2d72.9367546!3d19.1465402!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f80470ba05790c2!2sTelusko!5e0!3m2!1sen!2sin!4v1506507217441" style="border:0"></iframe>
  </div> -->

  <br><br>
  <div class="container" style="background: #eeeeee;margin-bottom: 20px">
     <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Horizontal Ad -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8116314789605963" data-ad-slot="1130363161" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
  
</section>